.vscode
.idea
# Hi, I'm nmvkhoi. A sophomore Computer Science student at HCMIU. I'm interested in web devlopment, security, hardware and so on. I'm making this blog for sharing cool stuff to the internet. Hope you enjoy it.