* {
    padding: 0px;
    margin : 0px;
    font-family: sans-serif;
}
#header {
    display: flex;
    margin-top: 5%;
    margin-bottom: 0.5%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: #f2f2f2;
        width: 100%;
        margin: auto;
    }
    hr{
        border-right: 0px;
        border-left: 0px;
        box-sizing: border-box;
    }
}
a{
    text-decoration: none;
    color: #000;
    margin-right: 5px;
}
a:hover{
    text-decoration: underline;
}
body{
    background-color: #f2f2f2;
    width: 66%;
    margin: auto;
   

}
.container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
}
.left{
    width: 59%;
    order: 1;
    border-right: 2px solid gray;
    height: 100%;
}
.right{
    order: 2;
    width: 40%;
}
p{
    margin-bottom: 5px;
    color: #333;
    line-height: 1.5;
    font-size: 1rem;
}
.h2{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}