* {
    padding: 0px;
    margin : 0px;
    font-family: Arial, sans-serif;
}
#header {
    display: flex;
    margin-top: 5%;
    margin-bottom: 0.5%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #000;
    margin-right: 5px;
}
body{
    background-color: #f2f2f2;
    width: 66%;
    margin: auto;
}


