* {
    padding: 0px;
    margin : 0px;
    font-family: sans-serif;
}
#header {
    display: flex;
    margin-top: 5%;
    margin-bottom: 0.5%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #000;
    margin-right: 5px;
}
a:hover{
    text-decoration: underline;
}
body{
    background-color: #f2f2f2;
    width: 66%;
    margin: auto;
    

}
.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
}
h2{
    font-family: sans-serif; 
}
.article{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


